certifi==2020.11.8
chardet==3.0.4
docker==4.4.0
Flask==1.1.2
Flask-SocketIO==4.3.1
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
python-engineio==3.14.1
python-socketio==4.6.1
pywin32==227
requests==2.25.0
six==1.15.0
tqdm==4.54.0
urllib3==1.26.2
websocket-client==0.57.0
Werkzeug==1.0.1
