{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">
        <form method="POST" action="/login">
            <input type="hidden" value="{{ next_url }}" name="next">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="token" placeholder="Token" autofocus="">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div>
</div>
{% endblock %}